@page
@model IndexModel
@{
    ViewData["Title"] = "Dev Slot";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Development</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
